body {
  position: relative;
  padding: 60px 0 432px 0;
  width: 1610px;
  height: 900px;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -2;
}

.page__title {
  margin: 0 430px 0 431px;
  letter-spacing: 4.1px;
  max-width: 760px;
  text-align: center;
  font-weight: bold;
  font-size: 115.7px;
  text-transform: uppercase;
  z-index: 2;
}

.page__title::after {
  content: "*";
  font-weight: bold;
  font-size: 116px;
}

.page__title:hover::before {
  content: "На самом деле нет.\AВажнее &mdash; научиться ошибаться.";
  position: absolute;
  top: 179px;
  left: 840px;
  white-space: pre;
  z-index: 3;
  padding: 36px 44px;
  max-width: 800px;
  text-align: start;
  border-radius: 20px;
  border: 2px solid #000;
  background-color: #fff;
  font-weight: normal;
  font-size: 35px;
  letter-spacing: 0;
  line-height: 35px;
  text-transform: none;
  box-shadow: 0 14px 2px #000;
}

.page__video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
